[defaults]
host_key_checking = false
remote_user = ubuntu
interpreter_python=/usr/bin/python3

[ssh_connection]
pipelining = true
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes
